.cus-s5-nav-pills .nav-link.active, .cus-s5-nav-pills .show>.nav-link {
    color: #fff;
    background-color: var(--indigo);
}

.cus-s5-nav-pills .nav-link {
    color: var(--indigo);
}

.demo-nav-item #day, .demo-nav-item #hours, .demo-nav-item #minutes, .demo-nav-item #seconds {
    position: relative;
    display: inline-block;
    margin: 0 0.2rem;
    width: 0.8rem;
    background-color: var(--yellow);
    color: var(--d-indigo);
    width: 2rem;
    height: 1.6rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 700;
}

.demo-nav-item #day::before {
    content: "Day";
    position: absolute;
    left: 0.3rem;
    color: var(--indigo);
    top: 2rem;
}

.demo-nav-item #hours::before {
    content: "H";
    position: absolute;
    left: 0.7rem;
    color: var(--indigo);
    top: 2rem;
}

.demo-nav-item #minutes::before {
    content: "Min";
    position: absolute;
    left: 0.3rem;
    color: var(--indigo);
    top: 2rem;
}

.demo-nav-item #seconds::before {
    content: "Sec";
    position: absolute;
    left: 0.3rem;
    color: var(--indigo);
    top: 2rem;
}

@media screen and (max-width:576px) {
    .cus-sec5-title {
        text-align: center;
    }
}

.cus-s5-special-offer {
    box-shadow: 0 0 0.05rem 0.01rem var(--yellow);
}

.cus-s5-special-offer-img {
    /* background-color: #fff; */
    overflow: hidden;
}

.cus-s5-special-offer-img a img {
    transition: 0.5s transform ease;
}

.cus-s5-special-offer-img:hover a img {
    transform: scale(1.1);
}

#offer-expire-text {
    z-index: 2020;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#offer-expire-text #offer-expire-text-inner-id {
    display: block !important;
    background-color: var(--yellow);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    color: var(--indigo);
}

.owl-nav {
    display: flex;
    justify-content: space-between;
    position: wid;
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0px;
}

.owl-prev, .owl-next {
    width: 2.5rem;
    height: 3.2rem;
    background-color: var(--yellow) !important;
    padding: 0;
    margin-right: -1px !important;
    margin-left: -1px !important;
    color: var(--indigo) !important;
}

.owl-prev:hover, .owl-next:hover {
color: var(--white) !important;
}

.owl-prev span, .owl-next span{
    font-size: 70px;
    left: 8px;
    top: -32px;
    height: auto;
    margin: 0;
    padding: 0;
    position: absolute;
}

.owl-next span {
    left: unset;
    right: 7px !important;
}

@media screen and (max-width:576px) {
    .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
        display: none;
    }
}
